<t>
    <h3>Create your Secret Santa now - Start by adding people</h3>

    <!-- Making a template for easier binding -->
<script type="text/html" id="users-template">
    <tr class="d-table-row">
        <td>
            <!-- ko if: showCheckbox -->
            <input type="checkbox" data-bind="value: Id,
                       checked: checked, visible: $parent.checkVisible, click: $parent.userChecked" />
            <!-- /ko -->
            <!-- ko ifnot: showCheckbox -->
            <i class="fas fa-check"></i> 
            <!-- /ko -->
        </td>
        <td><span data-bind="text: Name"></span></td>
        <td><button class="btn btn-danger" data-bind="click: $parent.delete">Delete</button></td>
    </tr>
</script>

    <script type="text/html" id="group-users-template">
        <tr class="d-table-row">
            <td><input name="group-id" type="hidden" data-bind="value: $parent.Id" /></td>
            <td><input id="userId" type="hidden" data-bind="value: Id" /></td>
            <td><span data-bind="text: Name"></span></td>
            <td><button class="btn btn-danger" data-bind="click: $root.removeFromGroup">Remove</button></td>
        </tr>
    </script>

    <script type="text/html" id="match-template">
        <tr class="d-table-row">
            <td><span data-bind="text: Sender"></span></td>
            <td>  ->  </td>
            <td><span data-bind="text: Receiver"></span></td>
        </tr>
    </script>

   
    <form>
        <table class="table">
            <tr class="row">
                <td style="width: 33.33%">
                    <input class="input-add" placeholder="Add Name (Must be unique)" data-bind='value: userToAdd, valueUpdate: "afterkeydown"' />
                    <button class="btn btn-primary" data-bind="click: addUser, enable: userToAdd().length > 0">Add</button>
                </td>
                <td style="width: 33.33%">
                    <div data-bind="visible: enableGroupAdd">
                        <button class="btn btn-primary" data-bind="click: newGroup, enable: enableGroupAdd">Create Group</button>
                        <div id="group-name-submit" style="display: none;">
                            <span>Enter Group Name: </span>
                            <input class="input-group-sm" id="group-name" data-bind="value: groupName, valueUpdate: " afterkeydown" />
                            <button class="btn btn-primary" data-bind="click: saveGroup">Save</button>
                        </div>
                    </div>
                    <div data-bind="visible: showBoth">
                        <p>
                            -  OR  -
                        </p>
                    </div>
                    <div data-bind="visible: canAddToGroup">

                        Add to an existing Group:
                        <select class="form-control" data-bind="options: groups,
                       optionsText: 'Name',
                       value: selectedGroup,
                       optionsCaption: 'Choose...'"></select><br />
                        <button class="btn btn-primary" data-bind="click: updateGroup">Update</button>
                    </div>
                </td>
                <td style="width: 33.33%">
                    <button class="btn btn-primary" data-bind="click: runAlghoritm">Match</button>
                </td>
            </tr>
            <tr class="row">
                <td style="width: 33%"  data-bind="visible: usersVisible">
                    <h3>Users</h3>
                    <table class="table table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody data-bind="template: { name: 'users-template', foreach: users}"></tbody>
                    </table>
                </td>
                <td style="width: 33.33%" data-bind="visible: groupsVisible">
                    <h3>Groups</h3>
                    <table class="table table" data-bind="foreach: groups">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4" data-bind="text: Name"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="template: { name: 'group-users-template', foreach: Users}"></tbody>
                    </table>
                </td>
                <td style="width: 33.33%" data-bind="visible: showMatching">
                    <h3>Matches</h3>
                    <table class="table table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Sender</th>
                                <th>-></th>
                                <th>Receiver</th>
                            </tr>
                        </thead>
                        <tbody data-bind="template: { name: 'match-template', foreach: matches}"></tbody>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>